= simple_form_for comment, url: comments_path(type: type),:html => { :method => "post" }, :remote => true do |f|
  .row-fluid
    #comment-form{style: "border-top:1px outset #6a6a6a; padding: 1px; background-color: #808080; overflow: hidden;"}
      .span1
        = image_tag current_user.small_image
      .span11
        = f.input :body, label: false, placeholder: "コメントをする", input_html: { class: 'span12', rows: '1', style: "height:28px;" }
        = f.input :article_id, as: :hidden
        = f.button :submit, disable_with: "Sending...",value: 'コメント', class: "btn btn-small btn-primary pull-right"