= div_for article, :class => "Article" do
  .row-fluid
    .span7
      %hr
      .row-fluid
        .span12
          = article.disp_day
          - if article.about_time.present?
            %a= "#{article.about_time}"
          - if current_user == article.user
            = link_to '☓', article_path(article), :method => :delete, class: "close", data_dismiss: "modal", aria_hidden: true, :data => { :confirm => 'イベントを削除しますか？' }, remote: true
      .row-fluid
        .span2
          %div{:style => "margin-top:5px;"}
            = link_to (image_tag article.user.image), "#{article.user.url}", target: '_blank'
        .span10
          .article
            .article-title
              .user-name
                %a= link_to article.user.name, "#{article.user.url}", target: '_blank'
              %span= auto_link(simple_format(article.title), html: {target: "_blank"}, link: :urls)
            %ul.breadcrumb
              %li
                - unless article.watch_hold?(current_user)
                  = link_to  entries_path(article_id: article, type: 'Watch'), :remote => true, method: :post, :class => "add-watch" do
                    %i.icon-star
                    ちょっと気になる
                - else
                  = link_to entry_path(article.watch_hold(current_user), type: 'Article'), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "remove-watch", :remote => true do
                    %i.icon-remove
                    気になるをやめる
                %span.divider /
              %li
                - unless article.cart_hold?(current_user)
                  = link_to entries_path(article_id: article, type: 'Cart'), :remote => true, method: :post, :class => "add-cart" do
                    %i.icon-heart
                    参加してみる
                - else
                  = link_to entry_path(article.cart_hold(current_user), type: 'Article' ), :method => :delete, :data => { :confirm => 'Are you sure?' },:remote => true, :class => "remove-cart" do
                    %i.icon-remove
                    参加をやめる

                %span.divider /
              %li#event-detail
                - if article.publish?
                  = link_to article_path(article) do
                    %i.icon-bullhorn
                    イベント詳細
                  %span.divider /
                - if article.user == current_user
                  = link_to edit_article_path(article) do
                    %i.icon-edit
                    詳細を編集
      .row-fluid
        .span2
        .span10
          .comment
            %ul.comments
              = render article.comments
            = render 'comments/form', comment: article.comments.build, type: ''
    .span5
      = render 'shared/mutualfriends', article_user: article.user