= div_for article, :class => "Article" do
  .row-fluid
    .span7
      %hr#article-line
      .row-fluid
        .span12
          = article.disp_day
          - if article.about_time.present?
            %a= "#{article.about_time}"
          - if current_user == article.user
            = link_to '☓', article_path(article), :method => :delete, class: "close", data_dismiss: "modal", aria_hidden: true, :data => { :confirm => 'イベントを削除しますか？' }, remote: true
      .row-fluid
        .span2
          %div{:style => "margin-top:5px;"}
            = link_to (image_tag article.user.image, :class => "img-circle"), "#{article.user.url}", target: '_blank'
        .span10
          .article
            .article-title
              .user-name
                %a= link_to article.user.name, "#{article.user.url}", target: '_blank'
              .article-body
                %span= auto_link(simple_format(article.title), html: {target: "_blank"}, link: :urls)
            %ul.breadcrumb
              - if article.user == current_user
                %li
                  - if article.invited
                    = link_to switch_invitation_article_path(article), :remote => true, method: :post, loading: "loading", :class => "switch_invitation" do
                      %i.icon-heart
                      参加者の募集を止める
                  - else
                    = link_to switch_invitation_article_path(article), :remote => true, method: :post, loading: "loading", :class => "switch_invitation" do
                      %i.icon-heart
                      参加者を募集する
                %span.divider /

                %li#event-detail
                  = link_to edit_article_path(article) do
                    %i.icon-edit
                    詳細を編集
                %span.divider /

              - else
                %li
                  - if article.watch_hold?(current_user)
                    = link_to entry_path(article.watch_hold(current_user), type: 'Article'), confirm: '気になるをやめますか?', :class => "remove-watch", :remote => true, mathod: :delete do
                      %i.icon-remove
                      気になるをやめる
                  - else
                    = link_to  entries_path(article_id: article, type: 'Watch'), :remote => true, method: :post, :class => "add-watch" do
                      %i.icon-star
                      ちょっと気になる
                  %span.divider /

                - if article.invited
                  %li
                    - if article.cart_hold?(current_user)
                      = link_to entry_path(article.cart_hold(current_user), type: 'Article' ), :method => :delete, confirm: '参加をやめますか?',:remote => true, :class => "remove-cart" do
                        %i.icon-remove
                        参加をやめる
                    - else
                      = link_to entries_path(article_id: article, type: 'Cart'), :remote => true, method: :post, loading: "loading", :class => "add-cart" do
                        %i.icon-heart
                        参加してみる
                  %span.divider /


              %li#event-detail
                - if article.publish?
                  = link_to article_path(article) do
                    %i.icon-bullhorn
                    イベント詳細
                  %span.divider /
      .row-fluid
        .span2
        .span10
          .comment
            %ul.comments
              = render article.comments
            = render 'comments/form', comment: article.comments.build, type: ''
    .span5
      - if current_user == article.user
        = render 'shared/action_user' , watch_entries: watch_entry(article), cart_entries: cart_entry(article)
      -else
        = render 'shared/mutualfriends', article_user: article.user

