= div_for article, :class => "Article" do
  .row-fluid
    .span7
      %hr
      .row-fluid
        .span12
          = article.disp_day
          - if article.about_time.present?
            %a= "#{article.about_time}"
          - if current_user == article.user
            = link_to '☓', article_path(article), :method => :delete, class: "close", data_dismiss: "modal", aria_hidden: true, :data => { :confirm => 'イベントを削除しますか？' }, remote: true
      .row-fluid
        .span2
          %div{:style => "margin-top:5px;"}
            = image_tag article.user.image
        .span10
          .article
            .article-title
              .user-name
                %a{style:"color: #B94A48;font-weight: bold"}= article.user.name
              %span= auto_link(simple_format(article.title), html: {target: "_blank"}, link: :urls)
            %ul.breadcrumb
              %li
                - unless article.watch_hold?(current_user)
                  = link_to  entries_path(article_id: article, type: 'Watch'), :remote => true, method: :post, :class => "add-watch" do
                    %i.icon-star
                    ちょっと気になる
                - else
                  = link_to entry_path(article.watch_hold(current_user), type: 'Article'), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "remove-watch", :remote => true do
                    %i.icon-hand-down
                    気になるをやめる
                %span.divider /
              %li
                - unless article.cart_hold?(current_user)
                  = link_to entries_path(article_id: article, type: 'Cart'), :remote => true, method: :post, :class => "add-cart" do
                    %i.icon-heart
                    参加してみる
                - else
                  = link_to entry_path(article.cart_hold(current_user), type: 'Article' ), :method => :delete, :data => { :confirm => 'Are you sure?' },:remote => true, :class => "remove-cart" do
                    %i.icon-thumbs-down
                    参加をやめる

                %span.divider /
              %li
                - if article.publish?
                  = link_to article_path(article) do
                    %i.icon-bullhorn
                    イベント詳細
                  %span.divider /
                - if article.user == current_user
                  = link_to edit_article_path(article) do
                    %i.icon-edit
                    詳細を編集
      .row-fluid
        .span2
        .span10
          .comment
            %ul.comments
              - article.comments.each do |comment|
                - if comment.body
                  = render 'comments/comment', comment: comment
            = render 'comments/form', comment: article.comments.build, type: ''
    .span5
      %hr
      .mutualfriends
        - if current_user == article.user
          %p 共通の友達はいません
          %p [WIP]共通の友達がいない場合は広告を出す予定
        - else
          - friends = graph.get_connections("me", "mutualfriends/#{article.user.uid}?fields=first_name,picture")
          - if friends
            %a{style:"color: #B94A48;font-weight: bold"}= article.user.name
            さんと共通の友達
            %br
            - 1.times do # 見栄えを確認するため
              - friends.each do |friend|
                .picture{:style => "float:left"}
                  = image_tag friend["picture"]["data"]["url"], :class => "img-circle"
                  %br
                  = friend["first_name"]
          - else
            %p 共通の友達はいません
            %p [WIP]共通の友達がいない場合は広告を出す予定