= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :comment_id
    = f.number_field :comment_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :entry_id
    = f.number_field :entry_id
  .actions
    = f.submit 'Save'
