= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :disp_day
    = f.select :disp_day, week_select
  .field
    = f.label :about_time
    = f.select :about_time, [["朝"],["昼"],["夕方"],["夜"]], prompt: "後で決める"
  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
  = f.text_area :description, {cols: 80, rows: 10}
  .field
    = f.label :詳細を公開する
    = f.check_box :publish
  .actions
    = f.submit 'Save'
