= simple_form_for @article, :validate => true do |f|
  - if @article.errors.any?
    .alert.alert-error#error_explanation
      - if @article.errors.any?
        %ul
          - @article.errors.full_messages.each do |msg|
            %li= msg
  .tabbable
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", :href => "#A"} 予定編集
      %li.disabled.active
        %a{"data-toggle" => "tab", :href => "#B"} 詳細編集
    .tabbable
      .tab-content
        #A.tab-pane
          .well
            = f.input :title, label: "イベント名(必須)", input_html: { class: 'field span8'}, :validate => true, :required => false
            .row-fluid
              .span4
                = f.input :disp_day, collection: week_select, input_html: { class: 'selectpicker show-menu-arrow span12'},include_blank: false, label: "開催日"
              .sapn3
                = f.input :about_time, collection: [["朝辺りから"],["昼辺りから"],["夕方辺りから"],["夜辺りから"]], prompt: "時間は後で決める",input_html: { class: 'selectpicker show-menu-arrow span5' }, label: "時間帯"
        #B.tab-pane.active
          .well
            .row-fluid
              .span2
                集合場所
              .span10
                = f.input :place_name, label: false ,placeholder: "例) 金時計前,　ビックマン前,　渋谷駅１番出口前", input_html: { class: 'field span10' }, :validate => {:presence => true}
            .row-fluid
              .span2
                集合場所住所
              .span10
                = f.input :place_adress, label: false, input_html: { class: 'field span12' }, hint: "※ 住所を入力すると地図上に集合場所が出力されます",placeholder: "例) 愛知県名古屋市中村区名古屋駅1-1-4"
            .row-fluid
              .span2
                集合時間
              .span10
                = f.datetime_select :date , :discard_year => true, :discard_month => true, :discard_day => true
            %hr
            .row-fluid
              .span2
                備考
              .span10
                = f.input :description , input_html: { class: 'field span12', rows: '6'}, label: false
            = f.label "公開設定"
            .row-fluid
              .span2
              .span1
                = f.radio_button :publish, true
              .span9
                上記の内容を公開する
            .row-fluid
              .span2
              .span1
                = f.radio_button :publish, false
              .span9
                上記の内容を公開しない
          %br

  .btn-update
    .row-fluid
      .span10
      .span2
        = f.button :submit, value: '更新', class: 'span9', class: "btn btn-primary btn-large"