%h1 New article

= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "What's new?"
    = f.text_field :title
    = f.label :予定日
    = f.select :disp_day, week_select
    = f.label "開始時間帯"
    = f.select :about_time, [["朝"],["昼"],["夕方"],["夜"]], prompt: "後で決める"
    / = f.datetime_select :date, prompt: {hour: "後で", minute: "決める"},  order: [:day, :month, :year], add_month_numbers: true, datetime_separator: " 予定時間 "

    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :place_adress, value: current_user.location_name
  .actions
    = f.submit 'Save'

/ = render 'form'