%p#notice= notice

%p
  %b Title:
  = @article.title
%p
  %b Description:
  = @article.description
%p
  %b Date:
  = @article.date
%p
  %b Date:
  = @article.publish ? "詳細公開" : "詳細非公開"
%p
  %b 参加者:
  - @entries.each do |entry|
    = image_tag entry.cart.user.image
= link_to '編集を続ける', edit_article_path(@article)
\|
= link_to 'ホームに戻る', articles_path
