%h2 Event Detail
%hr
%h4= "Event: #{@article.title}"
%hr
.row-fluid
  .span6
    .well
      %dl.dl-horizontal
        %dt 開催日:
        %dd= @article.disp_day
        %dt 集合時間:
        %dd= @article.date.strftime("%H:%M")
        %dt 集合場所:
        - if @article.place_name.present?
          %dd= @article.place_name
        - else
          %dd= "　- "
        %dt 集合場所住所:
        %dd= @article.place_adress
    %dt 備考:
    .well.well-small= simple_format @article.description, :style => "font-size:small"
  .span6
    = gmaps({"map_options" => {container_id: "connections_map_container", auto_zoom: false, auto_adjust: true, zoom: 15},"markers" => { data: @json}})
-if @entries.present?
  %dt 参加者:
- @entries.each do |entry|
  = image_tag entry.cart.user.image
%hr
-logger.debug "QQQQQQQQQQQQQQQQQQQQQQQQQQQQ#{@entries.empty?}"
-logger.debug "QQQQQQQQQQQQQQQQQQQQQQQQQQQQ#{@entries}"
-if current_user == @article.user && @entries.present?
  .text-center
    = button_to '参加者全員に詳細事項をmailする', send_mail_article_path(@article),:data => { :confirm => 'Are you sure?' }, method: "get", class: "btn btn-primary btn-large"
-if current_user == @article.user
  = link_to '編集を続ける', edit_article_path(@article)
  \|
= link_to 'Back Home', articles_path
/ %dt Publish:
/ %dd= @article.publish ? "詳細を公開しています" : "詳細を公開していません"