%p#notice= notice

%p
  %b Title:
  = @article.title
%p
  %b Description:
  = @article.description
%p
  %b Date:
  = @article.date
%p
  %b Comment:
  = @article.comment_id
%p
  %b User:
  = @article.user_id
%p
  %b Entry:
  = @article.entry_id

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
