= form_for @user  do |f|
  / = form_for(@user, url: users_path(@user), html: { method: :post } ) do |f|
  / - if @user.errors.any?
  /   / #error_explanation
  /   /   %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
  /   /   %ul
  /   /     - @user.errors.full_messages.each do |msg|
  /   /       %li= msg
  .form
    %p= f.label :name
    %p= f.text_field :name
    %p= f.label :age
    %p= f.select :age, (18..99)
    %p= f.label :locationl
    - if current_user
      %p= f.collection_select :location, JpPrefecture::Prefecture.all, :code, :name, selected: current_user.location
    - else
      %p= f.collection_select :location, JpPrefecture::Prefecture.all, :code, :name
    %p= f.label :email
    - if current_user
      %p= f.text_field :email, value: current_user.email
    - else
      %p= f.text_field :email, value: @auth['info']['email']

      = f.hidden_field :uid, value: @auth['uid']
      = f.hidden_field :gender, value: @auth['extra']['raw_info']['gender']
      = f.hidden_field :access_token, value: @auth['credentials']['token']
      = f.hidden_field :image, value: @auth['info']['image']
      = f.hidden_field :url, value: @auth['info']['urls']['Facebook']

    %p= f.submit 'Save'