%h1.form-signin-heading
  Please sign up
= simple_form_for @user do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, label: "名前", input_html: {class: 'field span4'}, :input_html => { :value => @auth['info']['first_name'] }, required: true
    = f.input :age,  label: "年齢", collection: 18..99, include_blank: false, input_html: {class: 'field span2'}
    = f.label "活動地域"
    = f.collection_select :location, @location, :code, :name
    = f.input :email, label: "MobileMail", :input_html => { :value => @auth['info']['email'], class: 'field span4' }, required: true

    = f.input :uid,          :as => :hidden, :input_html => { :value => @auth['uid'] }
    = f.input :gender,       :as => :hidden, :input_html => { :value => @auth['extra']['raw_info']['gender'] }
    = f.input :access_token, :as => :hidden, :input_html => { :value => @auth['credentials']['token'] }
    = f.input :image,        :as => :hidden, :input_html => { :value => @auth['info']['image'] }
    = f.input :url,          :as => :hidden, :input_html => { :value => @auth['info']['urls']['Facebook'] }

  .form-actions
    .row-fluid
      .span9
      .span3
        = f.button :submit, value: 'Sign Up', class: 'span9', class: "btn btn-primary btn-large"