= simple_form_for current_user do |f|
  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#A"} ユーザ設定編集
    .tabbable
      .tab-content
        #A.tab-pane.active
          .well
            .row-fluid
              .span2
                名前
              .span10
                = f.text_field :name
            .row-fluid
              .span2
                年齢
              .span10
                = f.select :age, (18..99)
            .row-fluid
              .span2
                活動拠点　
              .span10
                = f.collection_select :location, JpPrefecture::Prefecture.all, :code, :name, selected: current_user.location
            .row-fluid
              .span2
                email　　　
              .span10
                - if current_user.email
                  = f.text_field :email, value: current_user.email
                - else
                  = f.text_field :email, value: @user.email
  %hr
    .row-fluid
      .span10
      .span2
        = f.button :submit, value: 'UPdate', class: 'span9', class: "btn btn-primary"
= link_to 'ユーザ設定に戻る', @user
\|
= link_to 'homeに戻る', articles_path