.user_image{align: "center"}
  = image_tag current_user.large_image, :class => "img-circle"
  %br
  %br
  %p{align: "center"}= "#{current_user.name}さん"

%ul.nav.nav-list
  %li.active
    = link_to  "Home", root_path
  / %li
  /   = link_to "Profile", current_user
  / %li
  /   %a{:href => "#"} Mail Setting
  %li.nav-header{style:"color: #973102"}  Activity list
  %li
    = link_to my_index_articles_path do
      自分の投稿  <span id = "my-event-count" class = "badge badge-important">#{my_event_count}</span> 件
  %li
    = link_to carts_path do
      参加する <span id = "cart-count" class = "badge badge-important">#{current_user.cart.entries.length}</span> 件
  %li
    = link_to watches_path do
      気になる <span id = "watch-count" class = "badge badge-inverse">#{current_user.watch.entries.length}</span> 件
  %li.divider
  %li
    %a{:href => "#"} Help