%h1 Listing users

.user_nav
  - logger.debug "QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ#{p current_user.inspect}"
  = image_tag current_user.image
  %p
    = current_user.name
    さん #{link_to "logout", logout_path}
  %p
    = link_to "プロフィール", current_user
  %p
    = link_to "参加するイベント", carts_path
  %p
    = link_to "気になるイベント", watches_path