.user_image{align: "center"}
  = image_tag current_user.large_image, :class => "img-circle"
  %br
  %br
  %p{align: "center"}= "#{current_user.name}さん"

%ul.nav.nav-list
  %li.active
    = link_to root_path do
      %i.icon-home
      Home
  %li
    = link_to current_user do
      %i.icon-user
      Profile
  / %li
  /   %a{:href => "#"} Mail Setting
  %li.nav-header{style:"color: #973102"}  Activity list
  %li
    = link_to my_index_articles_path do
      %i.icon-pencil
      自分の投稿  <span id = "my-event-count" class = "badge badge-important">#{my_event_count}</span> 件
  %li
    = link_to carts_path do
      %i.icon-heart
      参加する &nbsp  <span id = "cart-count" class = "badge badge-important">#{current_user.cart.entries.length}</span> 件
  %li
    = link_to watches_path do
      %i.icon-star
      気になる &nbsp  <span id = "watch-count" class = "badge badge-inverse">#{current_user.watch.entries.length}</span> 件
  %li.divider
  %li
    %a{:href => "#"} Help