!!!
%html{:lang => "jp"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta#viewport{:content => "width=960", :name => "viewport"}/
    %meta{:content => "off", "http-equiv" => "x-dns-prefetch-control"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title ログイン | 登録
    %meta{:content => "noodp,nooydir", :name => "robots"}/
    %meta{:content => "週末やりたい事をつぶやいて、近くの同期と週末を楽しむサービス", :name => "description"}/
    %meta{:content => "week, weekend, week.jpn, Week, WEEK ", :name => "keywords"}/
    %link{:href => "http://farm4.staticflickr.com/3680/9546158361_729e7be993_o.png", :rel => "apple-touch-icon-precomposed"}/
    %meta{:content => "Week", :name => "application-name"}/
    %meta{:content => "#2c4762", :name => "msapplication-TileColor"}/
    / Le styles
    %title Week
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "mobile"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    :css
      .container#main { padding-top: 60px; }
      ul{ list-style:none;margin:0;padding:0; }
      li{ display:inline; }
      .media-heading > p {
        { padding: 5px; }
      }
    = javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    = javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js"

    %style#bsCss{:type => "text/css"}

      @import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

      body {
      background: url('http://farm6.staticflickr.com/5328/9555102590_dc7a7e9f59_o.jpg') no-repeat center center fixed;
      \-webkit-background-size: cover;
      \-moz-background-size: cover;
      \-o-background-size: cover;
      background-size: cover;
      color:#fff;
      background-color:#333;
      font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
      }

      a:link, a:visited {
      color:#eee;
      }

      \.block {
      background-color:rgba(0,0,0,0.2);
      height:500px;
      padding-left:12px;
      padding-right:12px;
      }

      \.block-sm {
      height:180px;
      }

      \.block-m {
      height:270px;
      }
      \.block-f {
      padding-left:2px;
      padding-right:2px;
      height:30px;
      background-color:rgba(0,0,0,0.5);
      }

      \.btn-flat {
      font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
      border-radius:0px;
      border-width:0;
      background-image:none;
      padding:16px;
      margin:0 auto;
      margin-top:15px;
      font-size:13px;
      }

      \.attent p {
      font-size:10px;
      }

  %body
    - if request.host == "week-kyuden.herokuapp.com"
      %h1
        .mess{:style => "margin:300px 40px;"}
          %a{:href => "http://weekjp.com/"} 新ドメインweekjp.comからしか認証できなくしました。Please redirect!
    - else
      .container
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        .row-fluid
          .span12.block.block-m
            %br/
            .text-center
              =image_tag "http://farm4.staticflickr.com/3827/9428484664_270faf2bee_o.png"
              %p
                週末やりたい事をつぶやいて
                %br/
                地域の同い年と週末を楽しむサービス
              %p - β版 -
              %button.btn.btn-primary.btn-flat{:onclick => "location.href='/auth/facebook'"}
                facebook 無料登録/ログイン
              %br/
              .attent
                %p
                  weekが許可なく投稿することはありません
              %br/
              %br/
              %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        .row-fluid
          .span6
            .footer_legal_links
              = link_to 'お問い合わせ', new_contact_path
              |
              = link_to '利用規約', terms_path
              |
              = link_to 'プライバシーポリシー', privacy_path
              %br/
              © 2013 Week Created By
              %a{:href => "http://internkyuden.tumblr.com/post/58597061613/web", :target => "_blank" } Masahiro Hisada
          .span6
            .pull-right.block.block-f
              %a{:href => "https://www.facebook.com/masahiro.hisada.7", :target => "_blank" } Masahiro
              さんからの投稿 -
              =image_tag "http://graph.facebook.com/100001985565772/picture?width=43&height=43&type=square", :class => "img-circle"
        %br/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", :type => "text/javascript"}
    %script{:src => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js", :type => "text/javascript"}