.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#A"} プロフィール
    / %li
    /   %a{"data-toggle" => "tab", :href => "#B"} 詳細編集
  .tabbable
    .tab-content
      #A.tab-pane.active
        .well
          .row-fluid
            .span2
              名前
            .span10
              = current_user.name
          %hr
          .row-fluid
            .span2
              年齢
            .span10
              = current_user.age
          %hr
          .row-fluid
            .span2
              活動拠点　
            .span10
              = current_user.location_name
          %hr
          .row-fluid
            .span2
              email　　　
            .span10
              = current_user.email
= link_to 'プロフィールを編集する', edit_user_path(current_user)
\|
= link_to 'homeに戻る', root_path
