.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#A"} ユーザ設定
    / %li
    /   %a{"data-toggle" => "tab", :href => "#B"} 詳細編集
  .tabbable
    .tab-content
      #A.tab-pane.active
        .well
          .row-fluid
            .span2
              %i.icon-user
              名前
            .span10
              = current_user.name
          %hr
          .row-fluid
            .span2
              %i.icon-bar-chart
              年齢
            .span10
              = current_user.age
          %hr
          .row-fluid
            .span2
              %i.icon-map-marker
              活動拠点
            .span10
              = current_user.location_name
          %hr
          .row-fluid
            .span2
              %i.icon-envelope-alt
              MobileEmail　
            .span10
              = current_user.email
= link_to 'ユーザ設定を編集する', edit_user_path(current_user)
\|
= link_to 'homeに戻る', root_path
