.user_image{align: "center"}
  = link_to (image_tag current_user.large_image, :class => "img-circle"), "#{current_user.url}", target: '_blank'
  %br
  %br
  .user-name{align: "center"}
    = "#{current_user.name}"
    さん
  %br
%ul.nav.nav-list
  %li.active
    = link_to root_path do
      %i.icon-home
      Home
  %li
    = link_to current_user do
      %i.icon-asterisk
      User Setting
  %li.nav-header{style:"color: #973102"}  Activity list
  %li{}
    = link_to my_index_articles_path do
      %i.icon-pencil
      自分の投稿  <span id = "my-event-count" class = "badge badge-important">#{my_event_count}</span>
  %li
    = link_to carts_path do
      %i.icon-heart
      参加する &nbsp  <span id = "cart-count" class = "badge badge-important">#{current_user.cart.entries.length}</span>
  %li
    = link_to watches_path do
      %i.icon-star
      気になる &nbsp  <span id = "watch-count" class = "badge badge-inverse">#{current_user.watch.entries.length}</span>