%hr
  .mutualfriends.bold-font-h5
    - friends = current_graph.get_connections("me", "mutualfriends/#{article_user.uid}?fields=first_name,picture,link")
    - if friends.present?
      %a{style:"color: #006F5F;font-weight: bold"}= article_user.name
      さんと共通の友達
      %br
      - friends.each do |friend|
        .picture{:style => "float:left"}
          = link_to (image_tag friend["picture"]["data"]["url"], :class => "img-circle"), "#{friend["link"]}", target: '_blank'
          %br
          .mutualfriends-name
            = link_to friend["first_name"], "#{friend["link"]}", target: "_blank"
    - else
      %p 共通の友達はいません
