%hr
  .mutualfriends
    - if current_user == article_user
      %p 共通の友達はいません
      %p [WIP]共通の友達がいない場合は広告を出す予定
    - else
      - friends = current_graph.get_connections("me", "mutualfriends/#{article_user.uid}?fields=first_name,picture,link")
      - if friends
        %a{style:"color: #B94A48;font-weight: bold"}= article_user.name
        さんと共通の友達
        %br
        - friends.each do |friend|
          .picture{:style => "float:left"}
            = link_to (image_tag friend["picture"]["data"]["url"], :class => "img-circle"), "#{friend["link"]}", target: '_blank'
            %br
            .mutualfriends-name
              = link_to friend["first_name"], "#{friend["link"]}", target: "_blank"
      - else
        %p 共通の友達はいません
        %p [WIP]共通の友達がいない場合は広告を出す予定