- entries.each do |entry|
  = div_for entry.article, :class => "Article" do
    .row-fluid
      .span7
        %hr
        .row-fluid
          .span12
            = entry.article.disp_day
            - if entry.article.about_time.present?
              %a= "#{entry.article.about_time}"
        .row-fluid
          .span2
            %div{:style => "margin-top:5px;"}
              = link_to (image_tag entry.article.user.image), "#{entry.article.user.url}", target: '_blank'
          .span10
            .article
              .article-title
                .user-name
                  %a= link_to (entry.article.user.name), "#{entry.article.user.url}", target: '_blank'
                .article-body
                  %span= auto_link(simple_format(entry.article.title), html: {target: "_blank"}, link: :urls)
              %ul.breadcrumb
                - if entry.article.invited
                  - unless entry.cart_hold?(current_user)
                    %li
                      = link_to entries_path(article_id: entry.article, type: 'Cart'), :remote => true, method: :post, :class => "add-cart" do
                        %i.icon-heart
                        参加してみる
                      %span.divider /
                %li
                  = link_to entry_path(entry, type: 'Watch' ), :method => :delete, remote: true, :data => { :confirm => 'Are you sure?' }, :class => "remove-watch" do
                    %i.icon-remove
                    気になるをやめる
                  %span.divider /
                %li#event-detail
                  - if entry.article.publish?
                    = link_to article_path(entry.article) do
                      %i.icon-bullhorn
                      イベント詳細
                    %span.divider /
        .row-fluid
          .span2
          .span10
            .comment
              %ul.comments
                = render entry.article.comments
              = render 'comments/form', comment: entry.article.comments.build, type: 'Watch'
      .span5
        = render 'shared/mutualfriends', article_user: entry.article.user