- entries.each do |entry|
  = div_for entry.article, :class => "Article" do
    .row-fluid
      .span7
        %hr
        .row-fluid
          .span12
            = entry.article.disp_day
            - if entry.article.about_time.present?
              %a= "#{entry.article.about_time}"
        .row-fluid
          .span2
            %div{:style => "margin-top:5px;"}
              = image_tag entry.article.user.image
          .span10
            .article
              .article-title
                .user-name
                  %a{style:"color: #B94A48;font-weight: bold"}= entry.article.user.name
                %span= auto_link(simple_format(entry.article.title), html: {target: "_blank"}, link: :urls)
              %ul.breadcrumb
                %li
                  = link_to entry_path(entry, type: 'Cart' ), :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => "remove-cart" do
                    %i.icon-remove
                    参加をやめる
                  %span.divider /
                %li
                  - if entry.article.publish?
                    = link_to article_path(entry.article) do
                      %i.icon-bullhorn
                      イベント詳細
                    %span.divider /
                  - if entry.article.user == current_user
                    = link_to edit_article_path(entry.article) do
                      %i.icon-edit
                      詳細を編集
                    %span.divider /
        .row-fluid
          .span2
          .span10
            .comment
              %ul.comments
                = render entry.article.comments
              = render 'comments/form', comment: entry.article.comments.build, type: 'Cart'
      .span5
        %hr
        .mutualfriends
          - if current_user == entry.article.user
            %a 共通の友達はいません
          - else
            - friends = graph.get_connections("me", "mutualfriends/#{entry.article.user.uid}?fields=first_name,picture")
            - if friends
              %a{style:"color: #B94A48;font-weight: bold"}= entry.article.user.name
              さんと共通の友達
              %br
              - friends.each do |friend|
                .picture{:style => "float:left"}
                  = image_tag friend["picture"]["data"]["url"], :class => "img-circle"
                  %br
                  = friend["first_name"]
            - else
              %p 共通の友達はいません
              %p [WIP]共通の友達がいない場合は広告を出す予定