- entries.each do |entry|
  = div_for entry.article, :class => "Article" do
    .row-fluid
      .span7
        %hr
        .row-fluid
          .span12
            = entry.article.disp_day
            - if entry.article.about_time.present?
              %a= "#{entry.article.about_time}"
        .row-fluid
          .span2
            %div{:style => "margin-top:5px;"}
              = link_to (image_tag entry.article.user.image), "#{entry.article.user.url}", target: '_blank'
          .span10
            .article
              .article-title
                .user-name
                  %a= link_to (entry.article.user.name), "#{entry.article.user.url}", target: '_blank'
                .article-body
                  %span= auto_link(simple_format(entry.article.title), html: {target: "_blank"}, link: :urls)
              %ul.breadcrumb
                %li
                  = link_to entry_path(entry, type: 'Cart' ), :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => "remove-cart" do
                    %i.icon-remove
                    参加をやめる
                  %span.divider /
                %li#event-detail
                  - if entry.article.publish?
                    = link_to article_path(entry.article) do
                      %i.icon-bullhorn
                      イベント詳細
                    %span.divider /
                  - if entry.article.user == current_user
                    = link_to edit_article_path(entry.article) do
                      %i.icon-edit
                      詳細を編集
                    %span.divider /
        .row-fluid
          .span2
          .span10
            .comment
              %ul.comments
                = render entry.article.comments
              = render 'comments/form', comment: entry.article.comments.build, type: 'Cart'
      .span5
        = render 'shared/mutualfriends', article_user: entry.article.user