%h1 Listing cart
- @cart.entries.each do |entry|
  %hr
  = image_tag entry.article.user.image
  = entry.article.user.name
  = entry.article.title
  = link_to '参加をやめる', entry_path(entry, type: 'Cart' ), :method => :delete, :data => { :confirm => 'Are you sure?' }
  - if entry.article.publish?
    = link_to 'イベント詳細', article_path(entry.article)
  - if entry.article.user == current_user
    = link_to 'Edit', edit_article_path(entry.article)
  / %td= article.description
  / %td= article.date
  / %td= article.comment_id
  / %td= article.user_id
  / %td= article.entry_id
  / %td= link_to 'Show', article
  / %td= link_to 'Edit', edit_article_path(article)
  / %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %p= render 'comments/form', {comment: entry.article.comments.build, type: 'Cart'}
  - entry.article.comments.each do |comment|
    - if comment.body
      %p= render 'comments/comment', comment: comment
