%h3 参加するイベント
- @cart.entries.each do |entry|
  = div_for entry.article, :class => "Article" do
    %hr
    .date
      = entry.article.disp_day
      - if entry.article.about_time.present?
        %a= "#{entry.article.about_time}"
    .row-fluid
      .span1
        %div{:style => "float:left; margin-top:20px;"}
          = image_tag entry.article.user.image
          %br
          = entry.article.user.name
      .span11
        .article
          .article-title{:style => "margin: 20px"}
            %p= entry.article.title
          %ul.breadcrumb
            %li
              = link_to '参加をやめる', entry_path(entry, type: 'Cart' ), :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => "remove-cart"
              %span.divider /
            %li
              - if entry.article.publish?
                = link_to 'イベント詳細', article_path(entry.article)
                %span.divider /
              - if entry.article.user == current_user
                = link_to '詳細を編集', edit_article_path(entry.article)
                %span.divider /
        .com
          %ul.comments
            - entry.article.comments.each do |comment|
              - if comment.body
                = render 'comments/comment', comment: comment
          = render 'comments/form', comment: entry.article.comments.build, type: 'Cart'
          %div
            - if current_user == entry.article.user
              %a 共通の友達はいません
            - else
              %a 共通の友達
              %br
              - friends = @graph.get_connections("me", "mutualfriends/#{entry.article.user.uid}?fields=first_name,picture")
              - friends.each do |friend|
                .picture{:style => "float:left"}
                  = image_tag friend["picture"]["data"]["url"]
                  %br
                  = friend["first_name"]

/ %h1 Listing cart
/ - @cart.entries.each do |entry|
/   %hr
/   = entry.article.disp_day
/   - if entry.article.about_time.present?
/     %p= "#{entry.article.about_time}辺りから"
/   - else
/     %p
/   = image_tag entry.article.user.image
/   = entry.article.user.name
/   = entry.article.title
/   - if current_user == entry.article.user
/     %p 共通の友達はいません
/   - else
/     - friends = @graph.get_connections("me", "mutualfriends/#{entry.article.user.uid}?fields=name,picture")
/     %p 共通の友達
/     - friends.each do |friend|
/       = image_tag friend["picture"]["data"]["url"]
/       = friend["name"]
/   = link_to '参加をやめる', entry_path(entry, type: 'Cart' ), :method => :delete, :data => { :confirm => 'Are you sure?' }
/   - if entry.article.publish?
/     = link_to 'イベント詳細', article_path(entry.article)
/   - if entry.article.user == current_user
/     = link_to 'Edit', edit_article_path(entry.article)


/   - entry.article.comments.each do |comment|
/     - if comment.body
/       %p= render 'comments/comment', comment: comment
/   %p= render 'comments/form', {comment: entry.article.comments.build, type: 'Cart'}
