<!DOCTYPE html>
<html>
<head>
  <title>Week</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- = render 'shared/header' -->
<div id="banner">
<h1><%= link_to 'Week', root_url %></h1>
<hr>
</div>
  <div id="side">
    <%= render template: 'users/index' %>
  </div>

  <div id="main">
    <%= yield %>
  </div>
<!-- = render 'shared/footer' -->
<hr>
<p>
  © 2013
  <%= link_to  'Masahiro Hisada', 'http://internkyuden.tumblr.com/' %>
  All Rights Reserved</p>
</body>
</html>
