<!DOCTYPE html>
<html lang="jp" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta property = "fb:app_id"      content = "155431544630724">
    <meta property = "og:type"        content = "website">
    <meta property = "og:title"       content = "Week">
    <meta property = "og:description" content = "「週末やりたい事」をつぶやいて、近くの同期と週末を楽しむサービス">
    <meta property = "og:image"       content = "http://farm8.staticflickr.com/7421/9664554504_86e6798b4f_o.png">
    <meta property = "og:site_name"   content = "「週末を楽しむサービス」">
    <meta property = "og:url"         content = "http://weekjp.com/">

    <meta name = "viewport"           content = "width=device-width, initial-scale=1.0">
    <meta name = "description"        content = "「週末やりたい事」をつぶやいて、近くの同期と週末を楽しむサービス">
    <meta name = "keywords"           content = "week, weekend, week.jpn, Week, WEEK " >
    <meta name = "application-name"   content = "Week" >
    <link href = "http://farm3.staticflickr.com/2838/9663450624_5cd23868db_o.png" rel = "apple-touch-icon-precomposed" >

  <!-- Le styles -->
    <meta charset="utf-8">
    <title>Week</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "mobile" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <style>
      ul{ list-style:none;margin:0;padding:0; }
      li{ display:inline; }
      .media-heading > p {
        { padding: 5px; }
      }
    </style>
    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js" %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- [TODO] refactor this in CSS-->
    <style>
      a:hover{
        color:#17ab8d;
        background-color:#FFFFFF;
        text-decoration: none;
      }
      .navbar-inner a:hover{
        background-color:#16a185;
      }
       #event-detail a{
       color:#17ab8d;
      }
      .user-name a{
        color:#0d5d4d;
      }
      .user-name a:hover{
        color:#17ab8d;
      }
      .comment-user-name a{
        color:#0d5d4d;
        font-size: 11px;
        font-weight: bold;
      }
      .comment-user-name a:hover{
        color:#17ab8d;
      }
      .comment-body a, .article-body a{
       color:#17ab8d;
      }
      .fb-like span iframe{
        height:20px !important;
        width:97px !important;
      }
    </style>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=155431544630724";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
      </div>
    <script>
      !function ($) {
        $(function(){
          var $window = $(window)
          $('.bs-docs-sidenav').affix({
            offset: {
              top: function () { return $window.width() <= 980 ? 290 : 210 }
              , bottom: 270
            }
          })
        })
      }(window.jQuery)
    </script>
    <!-- Fav and touch icons -->
  </head>
<body>
<!-- Nav-fixed-top -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand span2" href="/articles/">
          Week
        </a>
        <div class="nav-collapse collapse span10 ">
          <%= form_tag :search_articles, method: :get, class: "navbar-search"  do %>
            <div class="input-prepend">
              <%= text_field_tag "query", params[:query], placeholder: "映画, 12日, (土)などでイベントを絞込み", :class => "span4" %>
              <%= button_tag(:type => 'submit', :class => 'btn') do %>
              <i class="icon-search"></i>
              <% end %>
            </div>
          <% end %>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                memu
                <!--<%= image_tag current_user.image, :size => "30x30" %>-->
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "ユーザ設定", current_user  %></li>
                <li><%= link_to "logout", logout_path %></li>
              </ul>
            </li>
          </ul>
        </div><!-- /nav-collapse collapse -->
      </div><!-- /container -->
    </div><!-- /navbar-inner -->
  </div><!-- /navbar-inner -->

  <div id="wrap">
    <!-- Container -->
    <div class="container" id="main">
      <div class="row-fluid">
        <!-- Sidebar -->
        <div class="span2 bs-docs-sidebar">
          <div class= "bs-docs-sidenav" id="side">
            <%= render template: 'users/sidebar' %>
          </div>
        </div>
        <!-- Contents -->
        <div class="span10">
          <!-- Blokline -->
          <div class="frame" >
              <%= yield %>
          </div>
        </div>
      </div><!-- /row-fluid -->
    </div><!-- /container -->
  </div>
  <br>

<!-- Footer -->
  <div id="footer">
    <hr>
    <div class="container" >
      <div class = "row-fluid">
        <div class = "span6">
          <div = "footer_legal_links">
            <a href = "http://nanapi.jp/109057/", target = "_blank" > Weekの使い方[nanapi] </a>
            |
            <%= link_to 'お問い合わせ', new_contact_path %>
            |
            <%= link_to '利用規約', terms_path %>
            |
            <%= link_to 'プライバシーポリシー', privacy_path %>
            <br>
          </div>
        </div><!-- span6 -->
        <div class = "span6">
          <div class = "pull-right">
            <p>© 2013 Week Created By
            <a href = "http://internkyuden.tumblr.com/post/58597061613/web", target = "_blank" > Masahiro </a>
            <%= image_tag "http://graph.facebook.com/100001985565772/picture?width=43&height=43&type=square", :class => "img-circle" %>
          </div>
        </div><!-- span6 -->
      </div><!-- row-fluid -->
      <div class = "row-fluid">
        <fb:like href="http://weekjp.com/" width="100" layout="button_count" show_faces="true" send="false"></fb:like>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://weekjp.com/" data-text="週末を近くの同期と楽しむサービス" data-lang="ja">ツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>

<%= yield :scripts %>
</body>
</html>
